<h1>Détail département : {{ departement?.nom }}</h1>

<section>
    <ng-container *ngIf="chargementEnCours">Chargement du détail en cours...</ng-container>

    <ng-container *ngIf="!chargementEnCours && departement">
        <p>Nom : {{ departement.nom }}</p>
        <p>Code : {{ departement.code }}</p>
        <p>Code région : {{ departement.codeRegion }}</p>
    </ng-container>

    <button type="button" (click)="onReturn()">Retourner à la liste</button>
</section>