<ng-container *ngIf="chargementEnCours; else listeDepartements">
    Chargement en cours...
</ng-container>

<ng-template #listeDepartements>
    <h1>List des départements</h1>

    <form [formGroup]="formDepartements" #form="ngForm" (submit)="onSubmit()" novalidate>
        <label for="departement">Département : </label>
        <select id="departement" formControlName="departement" [ngClass]="{ 'is-invalid': form.submitted && departement.invalid }">
            <option [ngValue]="null">-- Sélectionner un département</option>
            <option *ngFor="let departement of departements" [ngValue]="departement">{{ departement.nom }}</option>
        </select>

        <button type="submit">Afficher</button>
    </form>
</ng-template>